<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <script src="https://g.alicdn.com/ilw/ding/0.9.2/scripts/dingtalk.js"></script>
    <script>

    </script>
    <title>测试自建应用</title>
</head>
<body>
    <div id="app">
        <img style="width: 100px;height: 100px" :src="user.avatar"/>
        <p>{{user.name}}</p>
        <p>{{user.mobile}}</p>
        <p>{{user.email}}</p>
        <p>{{msg}}</p>
        <p>{{err}}</p>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script th:src="@{../js/index.js}" ></script>
</body>
</html>